body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    min-height: 100vh;
    width: 100%;
    justify-content: center; /* Centraliza horizontalmente */
}

/* Estilo geral */
.upload {
    padding-bottom: 10px;
}

/* Estilos para o "X" de exclusão */
.delete-button {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.table-header:hover .delete-button,
.table-content td:hover .delete-button {
    display: inline;
}



.table-content td {
    position: relative;
}

/*------------------------------------------------------------*/
/* Estilo do formulário */
.upload-form {
    display: flex;
    flex-direction: column; /* Itens em coluna */
    justify-content: center; /* Centraliza verticalmente dentro do formulário */
    align-items: center; /* Centraliza horizontalmente */
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    max-width: 358px;
    width: 90%; /* Responsivo para telas menores */
    margin: 10px auto;
}

/* Container para a descrição e o botão */
.description-with-button {
    display: flex;
    flex-direction: column;  /* Faz o label ficar acima do campo */
    /*gap: 5px;                /* Adiciona um pequeno espaço entre o label e o campo */
}

/* Wrapper para o campo de descrição e o botão */
.description-input-wrapper {
    display: flex;
    align-items: center;      /* Alinha o botão verticalmente no centro do campo de texto */
    /*gap: 10px;                 Adiciona espaçamento entre o campo de descrição e o botão */
}

/* Ajuste do campo de descrição */
.description-input-wrapper input {
    flex: 1;             /* Faz o campo de descrição ocupar o máximo possível de espaço */
    padding: 8px;        /* Ajuste de preenchimento */
    border-radius: 4px;  /* Bordas arredondadas */
    border: 1px solid #ccc; /* Borda leve */
    font-size: 12px;     /* Tamanho da fonte */
}

/* Estilo do botão de upload */
.upload-button {
    background-color: #4b0082;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 15px; /* Espaçamento entre o botão e o campo de arquivo */
    width: 100px;
}

.table-button {
    background-color: #4b0082;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 15px; /* Espaçamento entre o botão e o campo de arquivo */
    width: 100px;
}

.upload-button:hover {
    background-color: #371061;
    transform: scale(1.05);
}

.upload-button:active {
    transform: scale(1);
}

.table-button:hover {
    background-color: #371061;
    transform: scale(1.05);
}

.table-button:active {
    transform: scale(1);
}

/* Estilo do campo de arquivo */
.file-input-wrapper {
    position: relative;
    width: 100%; /* Ocupa toda a largura do formulário */
}

.file-label {
    display: block;
    background-color: #4b0082;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 12px;
    font-weight: bold;
}

.file-label:hover {
    background-color: #371061;
    transform: scale(1.02);
}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.control-buttons {
    display: flex;
    gap: 10px;
    justify-content: center; /* Centraliza os botões horizontalmente */
    margin-bottom: 20px;
}

#upload-block, #table-form-block {
    margin-top: 20px;
    border: 1px solid #4b0082;
    border-radius: 5px;
    text-align: center; /* Centraliza o conteúdo interno */
}

#table-form-block {
    display: block; /* Para ser exibido quando necessário */
}

label {
    font-size: 12px; /* Fonte menor para os labels */
    font-weight: bold;
    color: #4b0082;
    display: block; /* Força o label a ficar acima do campo */
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espaço entre os campos */
    margin-bottom: 15px;
    justify-content: flex-start;
    align-items: center;
}

.form-group {
    flex: 1 1 calc(20% - 15px); /* Tamanho padrão para campos maiores */
    min-width: 150px; /* Tamanho mínimo dos campos */
    box-sizing: border-box;
}

.form-group.pk {
    flex: 0 0 80px; /* Campo PK fixo e menor */
}

input, select {
    font-size: 12px; /* Ajusta o tamanho da fonte dos campos */
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.checkbox-wrapper {
    display: flex;
    align-items: center; /* Centraliza o checkbox verticalmente com o label */
    gap: 5px; /* Espaçamento entre o checkbox e o label */
    flex-wrap: wrap;
}

.checkbox-wrapper input[type="checkbox"] {
    flex-shrink: 0; /* Impede o checkbox de encolher */
    width: auto; /* O checkbox deve ocupar apenas o espaço necessário */
}

.save-button-wrapper {
    display: flex;
    justify-content: center; /* Centraliza o botão */
    width: 100%; /* Garante que o botão ocupe toda a largura disponível */
    margin-top: 10px; /* Adiciona espaçamento acima do botão */
}

.save-button {
    padding: 10px 15px; /* Tamanho do botão */
    background-color: #4b0082; /* Cor do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove borda padrão */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Mostra o cursor pointer */
    font-weight: bold;
    width: 100px; /* Garante que o botão ocupe toda a largura disponível */
}

.save-button:hover {
    background-color: #3a006d;
}

/*------------------------------------------------------------*/
.page-header {
    display: flex;
    flex-direction: column; /* Alinha logo acima do título */
    align-items: center; /* Centraliza o conteúdo no header */
    background-color: #4b0082;
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Faz o header ocupar toda a largura */
    box-sizing: border-box; /* Garante que padding não aumente a largura */
    text-align: center; /* Centraliza o texto */
}

.page-footer {
    display: flex;
    flex-direction: column; /* Alinha logo acima do título */
    align-items: center; /* Centraliza o conteúdo no header */
    background-color: #ffffff;
    color: #4b0082;
    font-size: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Faz o footer ocupar toda a largura */
    box-sizing: border-box; /* Garante que padding não aumente a largura */
    text-align: center; /* Centraliza o texto */
}

.company-logo {
    height: 80px; /* Ajuste a altura do logo */
    width: auto;
    margin-bottom: 10px; /* Espaço entre o logo e o título */
}

.company-logo-footer {
    height: 50px; /* Ajuste a altura do logo */
    width: auto;
    margin-bottom: 5px; /* Espaço entre o logo e o título */
}

.highlight {
    background-color: rgb(142, 231, 157);
    font-weight: bold;
}

.header-title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.container {
    text-align: center;
    margin: 0px 10px 10px 10px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Largura fixa para manter o design */
    min-height: 1000px;
}

.search {
    text-align: center;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Largura fixa para manter o design */
}

input[type="text"] {
    width: 100%;
    max-width: 500px; /* Adiciona um limite de largura para o campo de pesquisa */
    padding: 10px;
    margin: 10px 10px 10px 10px;
    border: 2px solid #4b0082;
    border-radius: 4px;
    box-sizing: border-box; /* Certifica-se de que o padding e border são levados em conta na largura total */
    align-items: center;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4b0082;
    color: white;
    padding: 5px;
    border-radius: 4px;
    margin: 5px 10px 5px 10px;
    position: relative;
}


.table-header h2 {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}

.table-content {
    display: none;
    margin: 10px 10px 10px 10px;
}

.description {
    margin: 5px;
    font-style: italic;
    color: #555;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

.pkey {
    text-align: center;
    width: 50px; /* Define uma largura menor para a célula */
    white-space: nowrap; /* Impede que o conteúdo quebre em várias linhas */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 4px;
    overflow: hidden; /* Garante que o border-radius seja aplicado nos cantos */
    table-layout: auto; /* Permite que as colunas ajustem automaticamente conforme o conteúdo */
    width: 100%; /* Garante que a tabela ocupe toda a largura disponível */
}

table th, table td {
    border: 1px solid #1a441a;
    border-color: #1a441a;
    padding: 8px;
    text-align: left;
    font-size: 12px;
}

table th {
    background-color: #1a441a;
    color: #ffffff;
}

/* Contêiner que envolve os checkboxes */
.checkbox-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os checkboxes */
    margin: 0px 10px 20px 10px;             /* Espaço entre o contêiner e outros elementos */
    font-size: 12px;
}

.checkbox-item {
    display: flex;
    align-items: center; /* Alinha o checkbox e o texto no centro */
}

/* Estilo para o checkbox */
input[type="checkbox"] {
    appearance: none;         /* Remove o estilo padrão */
    -webkit-appearance: none; /* Para navegadores baseados em WebKit */
    width: 16px;              /* Define a largura do checkbox */
    height: 16px;             /* Define a altura do checkbox */
    border: 2px solid #4b0082; /* Borda personalizada */
    border-radius: 4px;       /* Deixa os cantos arredondados */
    background-color: white;  /* Cor de fundo */
    cursor: pointer;         /* Cursor de ponteiro */
    display: inline-flex;     /* Garante o alinhamento correto com o conteúdo */
    align-items: center;      /* Alinha o conteúdo verticalmente */
    justify-content: center;  /* Alinha o conteúdo horizontalmente */
}

input[type="checkbox"]:checked {
    background-color: #4b0082; /* Cor ao marcar */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]:checked::after {
    content: '✔';              /* Adiciona um símbolo de check */
    font-size: 12px;           /* Tamanho do símbolo */
    color: white;
    display: block;
    text-align: center;
}

.info-cards-container {
    display: flex;
    justify-content: center; /* Alinha os cards no centro */
    gap: 20px; /* Espaçamento entre os cards */
    margin-top: 10px; /* Espaçamento superior */
}

.info-card {
    background-color: #9b59b6; /* Lilás */
    color: #ffffff; /* Texto branco */
    text-align: center; /* Centraliza o texto no card */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    width: 150px; /* Largura mais fina */
    height: 50px;
    font-family: Arial, sans-serif; /* Fonte limpa */
}

.info-card h3 {
    margin: 0;
    font-size: 12px; /* Tamanho do título */
    font-weight: bold;
}

.info-card p {
    margin: 0;
    font-size: 20px; /* Tamanho maior para os números */
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    input[type="text"] {
        font-size: 14px;
        max-width: 100%; /* Garantir que o campo de pesquisa ocupe 100% da largura em telas menores */
    }

    .table-header h2 {
        font-size: 10px;
        text-transform: uppercase;
    }

    /* Adiciona uma barra de rolagem horizontal em telas menores */
    .table-content {
        overflow-x: auto; /* Adiciona rolagem horizontal para a tabela */
        -webkit-overflow-scrolling: touch; /* Melhora a rolagem em dispositivos móveis */
    }

    table {
        font-size: 12px;
    }
}
